
h2{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 15mm;
   padding-left: 115mm;
   color: cadetblue;
   
}
input{
   width: 100mm;
   height: 7mm;
   padding-left: 60mm;
   margin-left: 100mm;
}
#b1{
   width: 25mm;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 5mm;
   height: 10mm;
   color: rgb(57, 38, 233);
   margin-left: 140mm;
   margin-right: 20mm;
   background-color: cornsilk
   
}
#b2{
   width: 25mm;
   height: 10mm;
   font-size: 5mm;
   font-family: monospace;
   color: rgb(238, 46, 46);
   background-color: cornsilk
}

#delete{
   height: 20mm;
   width: 60mm;
   border: 5px solid lightslategrey;
   border-radius: 2.5mm;
   background-color: rgb(185, 215, 216);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: red;
   font-size: 8mm;
   padding: 5mm;
   text-align: center;
   margin-left: 140mm;
}
p{
   text-align: center;
}