<h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Welcome, admin</h1>
<div class="container">
   <h2 id="h2a">MANAGE PRODUCTS</h2> 
   <h2 id="h2b">VIEW ALL PRODUCTS</h2>
   <h2 id="h2c">RESET PASSWORD</h2>
</div>

<div class="container">
<div><a href="admin-add-product"><img id="add" src="../../assets/58afde29829958a978a4a6b1.png" alt="Manage Products"></a></div>
<div><a href="admin-product-list"><img id="view" src="../../assets/pngimg.com - equals_PNG47.png" alt="View all Products"></a></div>
<div><a href="admin-password-reset"><img id="reset" src="../../assets/26807-1-restart-clipart.png" alt="Reset Password"></a></div>
</div>
<button (click)="logout()"><b>Logout</b></button>