
.container {
    display: flex;
    /* justify-content: flex-start; */
}

#add,
#view,
#reset {
    width: 100mm;
    height: 100mm;
    opacity: 0.2;
    margin-right: 15mm;
    margin-left: 5mm;
    margin-top: -65mm;
    border: 5px solid black;
    border-radius: 5mm;
}
#h2a{
    font-size: 7.5mm;
    margin-left: 12.5mm;
   margin-top: 47.5mm;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: cadetblue;
}
#h2b{
    font-size: 7.5mm;
    margin-left: 36mm;
    margin-top: 50mm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cadetblue;
}
#h2c{
    font-size: 7.5mm;
    margin-left: 40mm;
    margin-top: 50mm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cadetblue;
}
button{
    position: relative;
    top:-120mm ;
    right: -330mm;
    width: 20mm;
    height: 10mm;
    font-size: 4mm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    border-radius: 2.5mm;
    background-color: antiquewhite;
}